@model CRUD.Models.Person

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@Html.BeginForm("Edit","Home",FormMethod.Post)

@Html.LabelFor(Model =>Model.Id)@Html.EditorFor(Model=>Model.Id)
@Html.LabelFor(Model => Model.Name)@Html.EditorFor(Model => Model.Name)
@Html.LabelFor(Model => Model.City)@Html.EditorFor(Model => Model.City)
@Html.LabelFor(Model => Model.Phone)@Html.EditorFor(Model => Model.Phone)

<input type="submit"  value="Save"  class="form-control"/>

@Html.ActionLink("Back home", "Index")


@*<form action="/Home/Create" method="post">
        <div class="form-group">
            <label>Id</label>
            <input type="number" name="id" placeholder="your id" class="form-control" />
        </div>
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" placeholder="your name" class="form-control" />
        </div>
        <div class="form-group">
            <label>Phone</label>
            <input type="text" name="phone" placeholder="your phone" class="form-control" />
        </div>    <div class="form-group">
            <label>City</label>
            <input type="text" name="city" placeholder="your city" class="form-control" />
        </div>
        <input type="submit" value="created" class="form-control" />
    </form>
    <br /><br />
    @Html.ActionLink("Back home", "Index")*@