<!--we change type of using to model to list here -->
@model IEnumerable<CRUD.Models.Person>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<!--we need form for search-->
<form action="/" method="post">
    <p>search : </p><input type="text" name="searchText" value="" placeholder="input to search"/>
    <input type="submit"  value="Search" />
</form>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Phone</th>
        <th>City</th>
    </tr>
    <!--we write name class. object of list-->
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Phone</td>
            <td>@item.City</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

